{% extends "base.html.twig" %}
{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
        <meta name='keywords' content='NS1, NSONE, api cheat {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block scripts %}
    <script type='text/javascript'>
        $(function() {
            $( "#tabs" ).tabs();
        });
        $(function() {
            $( "#accordion" ).accordion({
                collapsible: true,
                heightStyle: "content"
            });
        });
        $(function() {
            $( "input[type=submit], a, .jbutton" ).button();
        });
        $(function() {
            $( "#zone").selectmenu();
        });
        $(function() {
            $( "#zonedump").selectmenu();
        });
        $(document).ready(function() {
            setTimeout(function() {
                $( ".notify" ).fadeOut(1000, function () {
                    $( ".notify" ).css({"visibility":"hidden","display":"block"}).slideUp();
                });
            }, 3500);
        });
    </script>
{% endblock %}
{% block content %}
    <div id='tabs'>
        <ul>
            <li><a href='#zone-check' title='Zone Consistancy Checker'>Zone Check</a></li>
            <li><a href='#zone-dump' title='Zone Record Dumper'>Zone Dump</a></li>
            <li><a href='#records' title='Record Level Actions'>Records</a></li>
        </ul>
        <div id='zone-check'>
            <form method='post'action='/zone/diff'>
                <select name='zone' id='zone' style='width:200px;'>
                    {% for zone in zones %}
                        <option>{{ zone }}</option>
                    {% endfor %}
                </select><br />
                <input type='submit' value='Verify Zone Info' />
            </form>
        </div>
        <div id='zone-dump'>
            <form method='post'action='/zone/dump'>
                <select name='zonedump' id='zonedump' style='width:200px;'>
                    {% for zone in zones %}
                        <option>{{ zone }}</option>
                    {% endfor %}
                </select><br />
                <input type='submit' value='Dump Zone Info' />
            </form>
        </div>
        <div id='records'>
            <div id='accordion'>
                <h3 title='Change Record Type'>Change Type</h3>
                <div id='change'>
                    <form method ='get' action='/record/change'>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}