{% extends "base.html.twig" %}
{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
        <meta name='keywords' content='NS1, NSONE, api cheat {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block content %}
    <div id='tabs'>
        <ul>
            <li><a href='#results' title='Match Results'>Match Results</a></li>
        </ul>
        <div id='results'>
            <form method='post' action='/replace'>
                <fieldset>
                    <legend>{{ status }} <big><big style='color:#EB006B'>{{ answer }}</big></big></legend>
                    <div id="dialog1" title="Tip">
                        <p>Click on any records you want to unselect to prevent them from being deleted.  At least one record must remain selected to delete answers.</p>
                    </div>
                    <a id="opener1" class="ui-state-default ui-corner-all tip" title="Change Record Help" style="width:19px;height:19px;padding:0px;margin:0px;font-size:1pt;">
                        <span class="ui-icon ui-icon-help"></span>
                    </a>
                {% set x = 0 %}
                {% for orphan in orphans %}
                    {% set x = x + 1 %}
                    {% set check = "check" ~ x %}
                    <p title='{{ orphan['record'] }}'>
                        <input type='checkbox' class='checkbox' id='{{ check }}' name='change_record[]' value='{{ orphan['record'] }}' checked/>
                        <label for='{{ check }}'>
                            {{ orphan['record'] }}
                        </label>
                        {% if not replaced %}
                        <span style='font-weight:bold;color:yellowgreen;padding-left: 15px'>Existing answer &nbsp; {{ orphan['answer'] }} &nbsp; From Zone &nbsp; {{ orphan['zone'] }} &nbsp;</span>
                        {% endif %}
                    </p>
                {% endfor %}
                <p title='Delete Orphans'>
                    <label for='del_orphan'>
                        <input type='submit' id='del_orphan' value='Delete'>
                    </label>
                </p>
                </fieldset>
            </form>
        </div>
    </div>
    {% block scripts %}
        <script type='text/javascript'>
            var checkboxes = $( "input[type='checkbox']" ),
                submitButt = $( "input[type='submit']" );
            checkboxes.click(function() {
                submitButt.attr("disabled", !checkboxes.is(":checked"));
            });
            $(function() {
                $( "#tabs" ).tabs();
                $( document ).tooltip({
                    show: {
                        effect: "slideDown",
                        delay: 1000
                    },
                    track: true
                });
                $( "input[type=checkbox], a, button" ).button();
                $( "input[type=submit], a, .jbutton" ).button();
                $( "#dialog1" ).dialog({
                    autoOpen: false,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "fold",
                        duration: 1000
                    }
                });
                $( "#opener1" ).click(function() {
                    $( "#dialog1").dialog( "open" );
                });
            });
            $(document).ready(function() {
                setTimeout(function() {
                    $( ".notify" ).fadeOut(1000, function () {
                        $( ".notify" ).css({"visibility":"hidden","display":"block"}).slideUp();
                    });
                }, 3500);
            });
        </script>
    {% endblock %}                
{% endblock %}