{% extends "base.html.twig" %}
{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
        <meta name='keywords' content='NS1, NSONE, api cheat {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block content %}
    <div id='tabs'>
        <ul>
            <li><a href='#results' title='Match Results'>Match Results</a></li>
            <li><a href='#search' title='Answer Search'>Answer Search</a></li>
        </ul>
        <div id='results'>
            <form method='post' action='/replace'>
                <table>
                    <tr title='selectall'>
                        <td style='float:left'>
                            <input type='checkbox' id='selectall' />
                            <label for='selectall'>Select All</label>
                        </td>
                    </tr>
                {% set x = 0 %}
                {% for record in records %}
                    {% set x = x + 1 %}
                    {% set check = "check" ~ x %}
                    <tr title='{{ record }}'>
                        <td style='float:left'>
                            <input type='checkbox' class='checkbox1' id='{{ check }}' name='change_record[]' value='{{ record }}'/>
                            <label for='{{ check }}'>
                                {{ record }}
                            </label>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </form>
        </div>
        <div id='search'>
            <form method='post' action='/search'>
                <p>Enter the answer you would like to search for.</p>
                <p><label for="answer">Answer: </label><input id="answer" name="answer" title="Enter Answer" placeholder="Enter Answer to Search"></p>
                <input type='submit' value='Search' title="Search"/>
            </form>
        </div>
    </div>
    {% block scripts %}
        <script type='text/javascript'>
            $(function() {
                $( "#tabs" ).tabs({
                    collapsible: true
                });
                $( document ).tooltip();
                $( "input[type=checkbox], a, button" ).button();
                $( "input[type=submit], a, .jbutton" ).button();
                $( "#selectall" ).change(function () {
                    $("input:checkbox").prop('checked', $(this).prop("checked"));
                });
            });
            $(document).ready(function() {
                setTimeout(function() {
                    $( ".notify" ).fadeOut(1000, function () {
                        $( ".notify" ).css({"visibility":"hidden","display":"block"}).slideUp();
                    });
                }, 3500);
            });
        </script>
    {% endblock %}                
{% endblock %}